{% extends "vendas/base.html" %}

{% block title %} {{saleannounce.title}} {% endblock %}

{% block content %}
<h1>{{saleannounce.title}}</h1>
<p class="date">
    Adicionado em {{ saleannounce.date_announced }} por {{ saleannounce.vendor }}
</p>
{{ saleannounce.description|linebreaks }}
<p>Estado: {{ saleannounce.state }}</p>
<p>Quantidade disponível: {{ saleannounce.quatity}}</p>
<p><h2>Preço: R${{saleannounce.price}}</h2></p>

<form action="{{ saleannounce.get_compra_url }}">
    <input type="submit" value="COMPRAR" />
</form>


{% endblock %}


